<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Conestoga Connect</title>


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>

    <style>
       .postHeader, .newsFeed h4 {
           background:#@Session["tbbgcolor"] !important;
       }
    </style>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body style="background:#@Session["bgcolor"] !important">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background:#@Session["hbgcolor"] !important">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href='@Url.Action("Index", "Home")'>
                    <img src="~/Content/Images/logo.png" height="50" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        @if (this.User.IsInRole("Student"))
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                            <li>@Html.ActionLink("Settings", "UserSettings", "User")</li>

                        }

                        @if (this.User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("JobPostings", "DisplayJobPosting", "JobPostings")</li>
                            <li>@Html.ActionLink("Accomodations", "DisplayAccomodations", "Accomodations")</li>
                            <li>@Html.ActionLink("Books", "DisplayBooks", "Books")</li>
                            <li>@Html.ActionLink("Activities", "DisplayActivity", "Activities")</li>
                            <li>@Html.ActionLink("Meetings", "DisplayMeetings", "Meetings")</li>
                            <li>@Html.ActionLink("Tutors", "Index", "Tutors")</li>
                            <li>@Html.ActionLink("News Feed", "Index", "NewsFeeds")</li>
                            <li>@Html.ActionLink("Discussions", "DisplayDiscussions", "AddDiscussions")</li>
                            <li>@Html.ActionLink("Discussion Comments", "DisplayDiscussionComments", "Discussion")</li>
                            <li>@Html.ActionLink("Users", "Index", "AspNetUsers")</li>
                            
                                    }
                        <li>@Html.ActionLink("Email", "Index", "Email")</li>
                        @Html.Partial("_LoginPartial")

                    </ul>
                </div>

                @if (User.Identity.IsAuthenticated && this.User.IsInRole("Student"))
                {

                    <center>
                        <div class="navbar-right">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "searchform" }))
                            {
                                <ul class="nav navbar-nav" style="margin-bottom:4px; margin-top:10px; align-content:center;">
                                    <li>@Html.TextBox("keyword", null, ViewBag.CurrentFilter as string, new { @placeholder = "Search...", @class = "form-control" })</li>
                                    <li>
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </li>
                                </ul>
                            }

                        </div>
                    </center>
                }

            </div>

        </div>


    </div>
    <div class="container-fluid">


        <div class="pagestart">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p align="center">&copy; @DateTime.Now.Year - Conestoga Connect</p>
            <center>
                <div id="google_translate_element"></div>
            </center>
        </footer>
    </div>

    @if (Session["ResponsiveVoice"] != null && Session["ResponsiveVoice"].ToString() == "On")
    {
    <script>
   
        $('a,p,div,img,checkbox,table,tr,td,button,input').mouseenter(function () { // Attach this function to all mouseenter events for 'a' tags
            responsiveVoice.cancel(); // Cancel anything else that may currently be speaking
            responsiveVoice.speak($(this).text()); // Speak the text contents of all nodes within the current 'a' tag
        });
        
    </script>

    <script>

        $('a,p,div,img,checkbox,table,tr,td,button,input').touchend(function () {
            // $("a").on("tap", function () {
            //window.addEventListener('touchstart', function () {
            //alert("user toich screen");
            //e.preventDefault();
            responsiveVoice.cancel(); // Cancel anything else that may currently be speaking
            responsiveVoice.speak($(this).text());
            //return true;
            //$(this).click();
        });
    </script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>
