
<div class="postLeftBar">
    <h4 class="name"><a href="#">Sandeep Kaur</a></h4>
    <ul>
        <li>@Html.ActionLink("Accomodations", "Index", "Accomodations")</li>
        <li>@Html.ActionLink("Books", "Index", "Books")</li>
        <li>@Html.ActionLink("Find Tutor", "DisplayTutor", "Tutors")</li>
        <li>@Html.ActionLink("Discussions", "Index", "AddDiscussions")</li>
        <li>@Html.ActionLink("Job Postings", "Index", "JobPostings")</li>
        <li>@Html.ActionLink("Find Friends", "Findfriends", "User")</li>
        <li>@Html.ActionLink("Activities", "Index", "Activities")</li>
        <li>@Html.ActionLink("Meetings", "Index", "Meetings")</li>
        <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage")</li>
        <li>@Html.ActionLink("Settings", "UserSettings", "User")</li>


    </ul>
</div>